# Aliases

# aliases to run xbps commands
alias update="sudo xbps-install -Su"
alias install="sudo xbps-install"
alias remove="sudo xbps-remove"
alias query="xbps-query -Rs"

# generals
alias v="vim"
alias nv="nvim"
